html {
  scroll-behavior: smooth;
  font-size: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--c-body);
  line-height: var(--lh-body);
  letter-spacing: 0.2px;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: var(--c-body);
  &:hover {
    color: var(--c-primary);
  }
}
span,
sub,
sup,
a {
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  background-color: #000000cc;
  transition: all 0.3s linear;
  z-index: 98;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: var(--lh-heading);
  font-family: var(--ff-heading);
  color: var(--c-heading);
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: var(--c-heading);
  &:hover {
    color: var(--c-primary);
  }
}
h1 {
  font-size: var(--fs-20);
}
h2 {
  font-size: var(--fs-base);
}
h3 {
  font-size: var(--fs-14);
}
.container {
  --bs-gutter-x: 2rem;
}

.text-primary {
  color: var(--c-primary) !important;
}