@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --ff-heading: "Public Sans", sans-serif;
  --ff-body: "Public Sans", sans-serif;
  --lh-heading: 1.4;
  --lh-body: 1.4;
  --fs-body: 16px;
  --fs-20: 20px;
  --fs-18: 18px;
  --fs-14: 14px;
  --c-heading: #212121;
  --c-body: #616161;
  --c-primary: #2DA0ED;
  --c-secondary: #8f9893;
  --c-white: #ffffff;
  --c-black: #000000;
  --c-success: #66AE03;
  --c-danger: #f02922;
  --c-warning: #f46937;
  --c-info: #7189ff;
  --c-dark: #01111a;
  --border-default: #ebebeb;
  --border-light: #EEEEEE;
  --border-dark: #ccc;
  --bg-light: #f5f5f5;
  --bg-white: #ffffff;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--c-body);
  line-height: var(--lh-body);
  letter-spacing: 0.2px;
}

a {
  text-decoration: none;
  color: var(--c-body);
}
a:hover {
  color: var(--c-primary);
}

span,
sub,
sup,
a {
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 98;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s linear;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: var(--lh-heading);
  font-family: var(--ff-heading);
  color: var(--c-heading);
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: var(--c-heading);
}
h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
  color: var(--c-primary);
}

h1 {
  font-size: var(--fs-20);
}

h2 {
  font-size: var(--fs-base);
}

h3 {
  font-size: var(--fs-14);
}

.container {
  --bs-gutter-x: 2rem;
}

.text-primary {
  color: var(--c-primary) !important;
}

.fs-14 {
  font-size: var(--fs-14);
}

.btn {
  position: relative;
  line-height: 1;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-inline: 12px;
  font-size: var(--fs-14);
  border-radius: 32px;
  font-weight: 600;
}
.btn.btn-sm {
  height: 32px;
}
.btn.btn-md {
  height: 48px;
}
.btn.btn-lg {
  height: 54px;
  font-size: var(--fs-base);
}
.btn.btn-white {
  background-color: var(--bg-white);
  color: var(--c-heading);
}
.btn.btn-primary {
  border-color: var(--c-primary);
  background-color: var(--c-primary);
  color: var(--c-white);
}
.btn.btn-primary:hover {
  background-color: transparent;
  border-color: var(--c-primary);
  color: var(--c-primary);
}
.btn.btn-outline-primary {
  background-color: transparent;
  border-color: var(--c-primary);
  color: var(--c-primary);
}
.btn.btn-outline-primary:hover {
  background-color: var(--c-primary);
  color: var(--c-white);
}
.btn.btn-success {
  border-color: var(--c-success);
  background-color: var(--c-success) !important;
  color: var(--c-white);
}
.btn.btn-success svg path {
  stroke: var(--c-white);
  transition: all 0.3s ease;
}
.btn.btn-outline-success {
  background-color: transparent !important;
  border-color: var(--c-success);
  color: var(--c-success);
}
.btn.btn-outline-success svg path {
  stroke: var(--c-success);
  transition: all 0.3s ease;
}
.btn.btn-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(155, 167, 127, 0.1215686275);
  border-radius: 12px;
  padding: 0;
}
.btn.btn-icon.btn-sm {
  width: 20px;
  height: 20px;
}
.btn.btn-icon.btn-primary {
  border-color: var(--c-heading);
  background-color: var(--c-heading);
}
.btn.btn-icon.btn-primary svg path {
  stroke: var(--bg-white);
}
.btn.btn-icon.btn-outline-primary {
  border-color: var(--c-heading);
  background-color: var(--bg-white);
  opacity: 0.7;
}
.btn.btn-icon.btn-outline-primary svg path {
  stroke: var(--c-heading);
}

.float-badge {
  position: absolute;
  right: -4px;
  top: -4px;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 9px;
  line-height: 1;
  background-color: var(--c-warning);
  border-radius: 50%;
  color: var(--c-white);
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  cursor: pointer;
  background-color: var(--bg-white);
  border-radius: 16px;
  margin-bottom: 12px;
  font-weight: 600;
  color: var(--c-heading);
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #bbb;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type=radio]:checked {
  border: 2px solid #1e90ff;
}

input[type=radio]:checked::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background: #1e90ff;
  border-radius: 50%;
}

/* checkbox */
.form-check-input:checked {
  background-color: var(--c-success);
  border-color: var(--c-success);
}

.nav-tabs {
  background-color: var(--bg-white);
  padding: 4px;
  border-radius: 16px;
  border: none;
  margin: 0;
}
.nav-tabs li {
  flex-grow: 1;
  flex-basis: 0%;
}
.nav-tabs li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  flex-grow: 1;
  border-radius: 12px;
  transition: all 0.3s ease;
  font-size: 14px;
  font-weight: 600;
}
.nav-tabs li a.active {
  background-color: var(--c-primary);
  color: var(--c-white);
}

.header-section {
  padding-block: 10px;
  background-color: var(--bg-white);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper .menu-title {
  margin-bottom: 0;
}
.header-wrapper .menu-subtitle {
  margin-top: 4px;
  font-size: 12px;
  color: var(--c-primary);
}

.menu-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100dvh;
  overflow-y: auto;
  background-color: var(--bg-white);
  width: 275px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  transform: translateX(-100%);
  transition: all 0.3s linear;
}
.menu-wrapper.active {
  transform: translateX(0);
}
.menu-wrapper .logo-area {
  background: url("../images/icons/mask.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrapper .links-area {
  padding: 24px;
}
.menu-wrapper .links-area .link-title {
  font-size: 12px;
  font-weight: 600;
  color: #919191;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 14px;
}
.menu-wrapper .links-area .link-title .line {
  flex-grow: 1;
  border-top: 1px solid var(--border-light);
}
.menu-wrapper .menu-links {
  margin-bottom: 32px;
  background-color: rgba(127, 135, 167, 0.1215686275);
  border-radius: 16px;
}
.menu-wrapper .menu-links li a {
  padding: 14px;
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: var(--fs-14);
  transition: all 0.3s ease;
}
.menu-wrapper .menu-links li a svg path {
  transition: all 0.3s ease;
}
.menu-wrapper .menu-links li a:hover, .menu-wrapper .menu-links li a.active {
  color: var(--c-primary);
}
.menu-wrapper .menu-links li a:hover svg path, .menu-wrapper .menu-links li a.active svg path {
  stroke: var(--c-primary);
}
.menu-wrapper .login-btn {
  margin-inline: 20px;
  margin-top: auto;
}

.footer-section {
  padding-top: 8px;
  padding-bottom: 4px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}
.footer-links li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 12px;
}
.footer-links li a::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 3px;
  background-color: var(--c-primary);
  border-radius: 5px 5px 3px 3px;
  left: 50%;
  bottom: 4px;
  transform: translateX(-50%) scaleX(0);
  transition: all 0.3s ease;
}
.footer-links li a:hover span {
  color: var(--c-body);
}
.footer-links li a.active::before {
  transform: translateX(-50%) scaleX(1);
}
.footer-links li a.active span {
  color: var(--c-primary);
}
.footer-links li a.active svg path {
  fill: var(--c-primary);
}
.footer-links li a svg path {
  fill: #919191;
  transition: all 0.3s ease;
}
.footer-links li a span {
  font-size: 10px;
  margin-top: 2px;
  transition: all 0.3s ease;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.main-wrapper {
  background-color: var(--bg-light);
  flex: 1 1 auto;
  overflow-y: auto;
}
.main-wrapper .category-list {
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  gap: 8px;
  flex-shrink: 0;
  padding-left: 16px;
  padding-right: 16px;
  min-width: -moz-max-content;
  min-width: max-content;
  padding-block: 0;
  background-color: transparent;
}
.main-wrapper .category-list li a {
  white-space: nowrap;
  border-radius: 50px;
}
.main-wrapper .category-list li a:focus {
  border-color: var(--c-primary);
}
.main-wrapper .category-list-wrapper {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.main-wrapper .category-list-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.products-wrapper {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 32px;
}
.products-wrapper.style--two {
  grid-template-columns: 1fr;
}

.product-item {
  padding: 12px;
  border-radius: 16px;
  background-color: var(--bg-white);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.product-item.style--two {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.product-item.style--two .title {
  margin-top: 0;
  margin-bottom: 10px;
}
.product-item.style--two .title img {
  margin-inline-start: 6px;
}
.product-item.style--two .short-des {
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 500;
  color: #919191;
}
.product-item.style--two .price-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-item.style--two .price-wrapper .btn {
  margin-bottom: 6px;
}
.product-item__thumb {
  border-radius: 10px;
  overflow: hidden;
}
.product-item__thumb img {
  width: 100%;
  height: 107px;
  -o-object-fit: cover;
  object-fit: cover;
}
.product-item__content .title {
  margin-top: 14px;
  margin-bottom: 14px;
}
.product-item .price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}
.product-item .price-wrapper .price {
  font-weight: 700;
  color: var(--c-heading);
}

/* home page start */
.home-wrapper .home-content {
  background-color: var(--bg-light);
  border-radius: 24px 24px 0 0;
  padding: 40px 16px 28px;
  margin-top: -40px;
  position: relative;
  z-index: 1;
}
.home-wrapper .home-content > .title {
  font-size: var(--fs-20);
}

.map-wrapper {
  padding: 14px;
  border-radius: 16px;
  background-color: var(--bg-white);
}
.map-wrapper iframe {
  border-radius: 12px;
}

.contact-title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
}
.contact-title .line {
  height: 1px;
  background-color: #d9d9d9;
  flex-grow: 1;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.event-item {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--bg-white);
  border-radius: 16px;
  margin-bottom: 14px;
  padding: 14px;
}
.event-item__thumb {
  width: 72px;
  height: 70px;
}
.event-item__thumb img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.event-item__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.event-item__content .title {
  margin-bottom: 6px;
  font-size: var(--fs-body);
}
.event-item__content .info {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  margin-bottom: 3px;
}

#about-text {
  display: inline;
}
#about-text #more-text {
  display: inline;
}

/* home page end */
/* payout page start */
.payout-wrapper {
  padding-top: 24px;
}

.payout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
}
.payout-header .table-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
}

.payout-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.payout-single-item {
  padding: 20px 14px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-white);
}
.payout-single-item .item-price {
  color: var(--c-heading);
  font-weight: 600;
  font-size: var(--fs-14);
}

.additional-title {
  margin-top: 32px;
  margin-bottom: 24px;
  font-size: var(--fs-14);
  display: flex;
  align-items: center;
  gap: 8px;
}
.additional-title .line {
  border-top: 1px solid #d9d9d9;
  flex-grow: 1;
}

.additional-charges-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px 14px;
  border-radius: 16px;
  background-color: var(--bg-white);
}
.additional-charges-wrapper .charge-for {
  font-size: var(--fs-14);
}
.additional-charges-wrapper .charge {
  font-size: var(--fs-14);
  color: var(--c-heading);
  font-weight: 600;
}

.bottom-button-wrapper {
  padding-block: 10px;
  border-bottom: 1px solid var(--border-light);
}

.flex-basis-50 {
  flex-basis: 50%;
}

.opacity-0 {
  visibility: hidden;
}

/* payout page end */
/* item detail page start */
.item-detail-wrapper .item-detail-content {
  background-color: var(--bg-light);
  border-radius: 24px 24px 0 0;
  padding: 40px 16px 28px;
  margin-top: -40px;
  position: relative;
  z-index: 1;
}
.item-detail-wrapper .item-detail-content .title,
.item-detail-wrapper .item-detail-content .price {
  font-weight: 700;
  color: var(--c-heading);
  font-size: var(--fs-20);
  margin: 0;
}
.item-detail-wrapper .item-detail-content .detail-title-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}
.item-detail-wrapper .item-detail-content .detail-title-wrapper .icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(50, 89, 243, 0.1215686275);
  border-radius: 10px;
}
.item-detail-wrapper .item-detail-content .detail-title-wrapper .detail-title {
  margin: 0;
  font-size: var(--fs-body);
  font-weight: 700;
}
.item-detail-wrapper .item-detail-content .detail-title-wrapper .detail-title span {
  font-weight: 500;
  font-size: var(--fs-14);
  color: var(--c-body);
}
.item-detail-wrapper .item-detail-content .required-text {
  font-size: 12px;
  color: var(--c-danger);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
}

.selection-item {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: var(--bg-white);
  border-radius: 16px;
  margin-bottom: 14px;
}
.selection-item.selection-item.inactive .selection-item__right {
  opacity: 0.5;
}
.selection-item__left {
  display: flex;
  align-items: center;
}
.selection-item__left label {
  font-size: var(--fs-14);
  font-weight: 600;
  color: var(--c-heading);
  margin: 0;
}
.selection-item__right {
  display: flex;
  align-items: center;
  gap: 14px;
  transition: all;
}
.selection-item__right .item-price {
  font-size: var(--fs-14);
  font-weight: 600;
  color: var(--c-heading);
}

.add-to-cart-btn {
  justify-content: space-between;
  padding-inline: 28px;
}
.add-to-cart-btn:hover {
  color: var(--c-white) !important;
  background-color: var(--c-primary) !important;
}
.add-to-cart-btn span {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  padding-left: 16px;
  transition: all 0.3s ease;
}

.enter-instructions {
  border: none;
  border-radius: 12px;
  padding-top: 12px;
  padding-left: 16px;
}

.counter {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 10px;
}
.counter .value {
  text-align: center;
  width: 22px;
  font-size: 14px;
  font-weight: 600;
  color: var(--c-heading);
  border: none;
  outline: none;
}
.counter span.value {
  width: unset;
}

.btn .counter {
  justify-self: flex-end;
  margin-inline-start: auto;
  margin-right: 12px;
}
.btn .counter .value {
  background-color: transparent;
  color: var(--c-white);
}

.options-title {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}
.options-title span {
  flex-grow: 1;
  height: 1px;
  background-color: #d9d9d9;
}

/* item detail page end */
/* cart page start */
.cart-items-wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  background-color: var(--bg-white);
  border-radius: 16px;
  margin-bottom: 14px;
}
.cart-item__thumb {
  width: 75px;
  height: 65px;
  overflow: hidden;
  border-radius: 10px;
}
.cart-item__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.cart-item__content {
  max-width: 150px;
}
.cart-item__content .title {
  font-size: 16px;
  margin-bottom: 4px;
  line-height: 1.3;
}
.cart-item__content .price {
  font-weight: 600;
  color: var(--c-heading);
}
.cart-item .counter {
  margin-inline-start: auto;
}

.add-more-item-btn {
  color: var(--c-primary);
  border: none;
}
.add-more-item-btn:hover, .add-more-item-btn:focus, .add-more-item-btn:active {
  color: var(--c-primary) !important;
}

.floating-notification {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  display: flex;
  gap: 8px;
  border-radius: 25px;
  padding: 8px;
  background-color: var(--bg-white);
  align-items: center;
  min-width: 270px;
}
.floating-notification__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.floating-notification__content .title {
  font-size: var(--fs-14);
  color: var(--c-heading);
  font-weight: 600;
  line-height: 1;
}
.floating-notification .undo-btn {
  color: var(--c-primary);
  height: auto;
}

/* cart page end */
/* common single page start */
.single-page-wrapper {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.single-page-wrapper .single-page-inner {
  border-radius: 24px 24px 0 0;
  background-color: var(--bg-white);
  padding: 35px 16px 32px;
}
.single-page-wrapper .single-page-inner .title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-page-wrapper .single-page-inner .title-wrapper .back-btn {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
}
.single-page-wrapper .single-page-inner .title-wrapper .title {
  margin: 0;
  font-size: var(--fs-20);
}

.image-content {
  font-size: var(--fs-14);
  margin-block: 32px;
}
.image-content.style--two {
  padding: 20px 16px;
  border-radius: 16px;
  background-color: var(--bg-white);
}
.image-content h2 {
  font-size: var(--fs-body);
  font-weight: 600;
}
.image-content img {
  max-width: 100%;
}

.payment-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(127, 135, 167, 0.1215686275);
  border-radius: 16px;
  padding: 14px;
  margin-bottom: 14px;
  cursor: pointer;
}
.payment-option .title {
  margin-bottom: 0px;
  font-size: var(--fs-body);
}
.payment-option span {
  color: #919191;
  font-size: 12px;
}
.payment-option label {
  display: flex;
  align-items: center;
  gap: 14px;
}
.payment-option label img {
  flex-shrink: 0;
}

.add-card-form .form-group {
  position: relative;
}
.add-card-form img {
  position: absolute;
  left: 10px;
  top: 14px;
}
.add-card-form .form-control {
  padding-left: 52px;
  border-radius: 16px;
  border: none;
  height: 54px;
  background-color: rgba(127, 135, 167, 0.1215686275);
}

.code-wrapper {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}
.code-wrapper .form-control {
  text-align: center;
  height: 57px;
  background-color: rgba(127, 135, 167, 0.1215686275);
  border: none;
  border-radius: 12px;
}

.powered-by {
  font-size: 10px;
}

.term-and-policy {
  font-size: 10px;
}
.term-and-policy a {
  color: var(--c-primary);
}
.term-and-policy a:hover {
  text-decoration: underline;
}

/* common single page end */
/* pay page start */
.pay-page-title {
  font-weight: 700;
  font-size: 18px;
}

.summery-bill-wrapper {
  padding: 16px 14px;
  border-radius: 16px;
  background-color: var(--bg-white);
}

ul.bill {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
ul.bill li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}
ul.bill li .value {
  color: var(--c-heading);
}
ul.bill li .value.fw-bold {
  font-size: var(--fs-body);
}
ul.bill li hr {
  opacity: 1;
  border-color: #cdcdcd;
  width: 100%;
  border-style: dashed;
  margin: 0;
}

.custom-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.custom-modal .single-page-inner {
  background-color: #ebebeb;
}

.apple-card {
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  padding: 20px 16px;
  background-color: var(--bg-white);
}
.apple-card.style--two {
  border-radius: 0;
  margin-inline: -16px;
  border-block: 1px solid #C6C6C8;
  align-items: center;
}
.apple-card.style--two .apple-card__left {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}
.apple-card.style--two .apple-card__left p {
  margin: 0;
  color: rgba(60, 60, 67, 0.6);
  font-size: 15px;
}
.apple-card.style--two .apple-card__left .title {
  font-size: 30px;
  font-weight: 500;
}
.apple-card.style--three {
  border-radius: 0;
  margin-inline: -16px;
  margin-bottom: -30px;
}
.apple-card.style--three .apple-card__left {
  flex-direction: column;
  align-items: center;
  gap: 0;
  flex-grow: 1;
}
.apple-card.style--three .apple-card__left p {
  margin: 0;
  color: rgba(60, 60, 67, 0.6);
  font-size: 15px;
}
.apple-card.style--three .apple-card__left .title {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}
.apple-card__left {
  display: flex;
  align-items: center;
  gap: 14px;
}
.apple-card__left .title {
  font-size: 16px;
  margin: 0;
}

/* pay page end */