@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --ff-heading: "Public Sans", sans-serif;
  --ff-body: "Public Sans", sans-serif;
  --lh-heading: 1.4;
  --lh-body: 1.4;
  --fs-body: 16px;
  --fs-20: 20px;
  --fs-18: 18px;
  --fs-14: 14px;
  --c-heading: #212121;
  --c-body: #616161;
  --c-primary: #3259f3;
  --c-secondary: #8f9893;
  --c-white: #ffffff;
  --c-black: #000000;
  --c-success: #14ad06;
  --c-danger: #f02922;
  --c-warning: #f46937;
  --c-info: #7189ff;
  --c-dark: #01111a;
  --border-default: #ebebeb;
  --border-light: #f0f0f0;
  --border-dark: #ccc;
  --bg-light: #f5f5f5;
  --bg-white: #ffffff;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--c-body);
  line-height: var(--lh-body);
  letter-spacing: 0.2px;
}

a {
  text-decoration: none;
  color: var(--c-body);
}

span,
sub,
sup,
a {
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 111;
  visibility: hidden;
  opacity: 0;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
}

.scrollToTop {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--c-white);
  z-index: 9999;
  bottom: 30px;
  right: 30px;
  font-size: 18px;
  position: fixed;
  transform: translateY(150px);
  background: var(--c-primary);
  border-radius: 3px;
}

.scrollToTop:hover {
  color: var(--c-white);
}

.scrollToTop.active {
  transform: translateY(0);
  animation: bounceInDown 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: var(--lh-heading);
  font-family: var(--ff-heading);
  color: var(--c-heading);
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: var(--c-heading);
}
h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
  color: var(--c-primary);
}

h1 {
  font-size: var(--fs-20);
}

h2 {
  font-size: var(--fs-base);
}

h3 {
  font-size: var(--fs-14);
}

.container {
  --bs-gutter-x: 2rem;
}

@media (max-width: 1199px) {
  :root {
    --fs-heading-one: 50px;
    --fs-heading-two: 40px;
    --fs-heading-three: 28px;
    --fs-heading-four: 22px;
    --fs-heading-five: 20px;
    --fs-heading-six: 16px;
  }
}
@media (max-width: 991px) {
  :root {
    --fs-heading-one: 40px;
    --fs-heading-two: 36px;
    --fs-heading-three: 28px;
    --fs-heading-four: 22px;
    --fs-heading-five: 20px;
    --fs-heading-six: 16px;
  }
}
@media (max-width: 575px) {
  :root {
    --fs-heading-one: 36px;
    --fs-heading-two: 30px;
    --fs-heading-three: 26px;
    --fs-heading-four: 20px;
    --fs-heading-five: 18px;
    --fs-heading-six: 16px;
  }
}
.btn {
  position: relative;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  padding-inline: 12px;
  font-size: var(--fs-14);
  border-radius: 32px;
}
.btn.btn-white {
  background-color: var(--bg-white);
  color: var(--c-heading);
}
.btn.btn-primary {
  background-color: var(--c-primary);
  color: var(--c-white);
}
.btn.btn-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(155, 167, 127, 0.1215686275);
  border-radius: 12px;
  padding: 0;
}
.btn.btn-icon.btn-sm {
  width: 20px;
  height: 20px;
}
.btn.btn-icon.btn-primary {
  border-color: var(--c-heading);
  background-color: var(--c-heading);
}
.btn.btn-icon.btn-primary svg path {
  stroke: var(--bg-white);
}
.btn.btn-icon.btn-outline-primary {
  border-color: var(--c-heading);
  background-color: var(--bg-white);
  opacity: 0.7;
}
.btn.btn-icon.btn-outline-primary svg path {
  stroke: var(--c-heading);
}

.float-badge {
  position: absolute;
  right: -4px;
  top: -4px;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 9px;
  line-height: 1;
  background-color: var(--c-warning);
  border-radius: 50%;
  color: var(--c-white);
}

.header-section {
  padding-block: 10px;
  background-color: var(--bg-white);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper .menu-title {
  margin-bottom: 0;
}

.footer-section {
  padding-top: 8px;
  padding-bottom: 4px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}
.footer-links li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 12px;
}
.footer-links li a::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 3px;
  background-color: var(--c-primary);
  border-radius: 5px 5px 3px 3px;
  left: 50%;
  bottom: 4px;
  transform: translateX(-50%) scaleX(0);
  transition: all 0.3s ease;
}
.footer-links li a.active::before {
  transform: translateX(-50%) scaleX(1);
}
.footer-links li a.active span {
  color: var(--c-primary);
}
.footer-links li a.active svg path {
  fill: var(--c-primary);
}
.footer-links li a svg path {
  fill: #919191;
  transition: all 0.3s ease;
}
.footer-links li a span {
  font-size: 10px;
  margin-top: 2px;
  transition: all 0.3s ease;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.main-wrapper {
  background-color: var(--bg-light);
  flex: 1 1 auto;
  overflow-y: auto;
}
.main-wrapper .category-list {
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  gap: 8px;
  flex-shrink: 0;
  padding-left: 16px;
  padding-right: 16px;
  min-width: -moz-max-content;
  min-width: max-content;
}
.main-wrapper .category-list-wrapper {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.main-wrapper .category-list-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.products-wrapper {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 32px;
}

.product-item {
  padding: 12px;
  border-radius: 16px;
  background-color: var(--bg-white);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.product-item__thumb {
  border-radius: 10px;
  overflow: hidden;
}
.product-item__thumb img {
  width: 100%;
  height: 107px;
  -o-object-fit: cover;
  object-fit: cover;
}
.product-item__content .title {
  margin-top: 14px;
  margin-bottom: 14px;
}
.product-item .price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}
.product-item .price-wrapper .price {
  font-weight: 700;
  color: var(--c-heading);
}